*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing:border-box;

}
.container{
    width:100%;
    min-height:100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
    display:flex;
    align-items: start;
    justify-content: center;

}
.todo-app{
    width:100%;
    max-width:840px;
    background:#fff;
    margin:100 auto 20px;
    padding:40px 30px 10px;
    border-radius: 10px;
    scale:1;

   

}
.todo-app h2{
    color: #002765;
    display:flex;
    align-items: center;
    margin-bottom: 10px;
}
.todo-app h2 img{
    width:30px;
    margin-left:20px;
}
.datebox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.notice{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d84545;
    font-size: 10px;
    margin-bottom: 4px;

}
span{
    color: #1db632;
}
.date{
    font-size: 12px;
    margin-bottom: 5px;
    border: solid 1px #2cc039;
    border-radius: 8px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e6efff;
    border-radius: 30px;
    padding-left: 10px;
    margin-bottom: 25px;

}
input{
    flex:1;
    border:none;
    outline:none;
    background:transparent;
    padding:10px;
    font-weight:14px;

}
button{
    border:none;
    outline:none;
    padding:8px 20px;
    background:#1db632;
    color:#fff;
    font-size:16px;
    border-radius: 10px;
    cursor:pointer;
    transition: 5sec;
    transition-property: all;
}
.clearbtn{
    border:none;
    outline:none;
    padding:2px 20px;
    background:#e66419;
    color:#fff;
    font-size:16px;
    border-radius: 10px;
    cursor:pointer;
    transition: 5sec;
    transition-property: all;
}
.submittask{
    border:none;
    outline:none;
    padding:2px 20px;
    background:#1db632;
    color:#fff;
    font-size:16px;
    border-radius: 10px;
    cursor:pointer;
    transition: 5sec;
    transition-property: all;
}

.btncopyright{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

}
.copyright{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    color: #002765;
    margin-top: 2px;
}


ul li{
    list-style: none;
    font-size: 16px;
    padding:5px 4px 4px 32px;
    user-select:none;
    cursor:pointer;
    position:relative;
}
ul li::before{
    content:'';
    position:absolute;
    height:20px;
    width:20px;
    border-radius:50%;
    background-image:url(icon-ios7-circle-outline-512.webp);
    background-size:cover;
    background-position:cetner;
    top:3px;
    left:8px;
}
ul li.checked{
    text-decoration:line-through;
    color:#555;
}
ul li.checked::before{
    background-image: url(green\ check\ icon.png);
}
ul li span{
    position:absolute;
    right:0px;
    top:5px;
    width:20px; 
    height:20px;
    font-size:20px;
    color:#d84545;
    line-height:20px;
    text-align:center;
    border-radius: 50%;
}
ul li span:hover{
    background:#edeef0;
}
/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .todo-app {
        padding: 10px 10px;
    }

    .todo-app h2{
        color: #e6762c;
        display:flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 15px;
    }
    .todo-app h2 img{
        width: 25px;
        margin-left:10px;
    
    }
}
